$center: 0 auto;

//Width and height variables
$site-width: 980px;
$banner-footer-width: 1280px;
$home-form-width: 818px;

//Site color variables
$site-blue: #79addc;
$site-white: #fff;
$site-black: #000;

//Button variables
