.tours {
  width: $home-form-width;
  height: 304px;
  // background-color: rgb(211, 200, 198);
  margin: $center;
  margin-top: -45px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .box {
    height: 304px;
    width: 236px;
    background-color: rgb(218, 218, 218);
  }

  .left {
    background-image: linear-gradient(
        rgba($site-black, 0.4),
        rgba($site-black, 0.4)
      ),
      url(../images/tour/tour-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .middle {
    background-image: linear-gradient(
        rgba($site-black, 0.4),
        rgba($site-black, 0.4)
      ),
      url(../images/tour/tour-02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .right {
    background-image: linear-gradient(
        rgba($site-black, 0.4),
        rgba($site-black, 0.4)
      ),
      url(../images/tour/tour-03.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  h2 {
    text-align: center;
    font-family: ProximaNova;
    color: $site-white;
    font-size: 60px;
    text-transform: uppercase;
    padding-top: 47px;
  }

  h3 {
    text-align: center;
    font-family: ProximaNova;
    color: $site-white;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: -15px;
  }

  button {
    width: 133px;
    height: 40px;
    background-color: $site-blue;
    border: none;
    border-radius: 20px;
    color: $site-white;
    font-family: GillSans;
    font-size: 15px;
    text-transform: uppercase;
    margin: 35px 52px;
  }

  button:hover {
    cursor: pointer;
  }
}
